[report]
exclude_lines = 
    pragma: no cover   # Exclude lines with this pragma
    if __name__ == "__main__":  # Exclude the main block
    raise AssertionError  # Exclude assertion statements
    raise NotImplementedError  # Exclude NotImplementedError statements

omit =
    lightspeed_google_feed/config*.py
    version.py
    main.py
    tests/*
    */__init__.py